<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HOME PAGE</title>
        <link rel="stylesheet" href="/homepage/index.css">
        <!-- CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/css/bootstrap.min.css"
            integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        
        <!-- jQuery and JS bundle w/ Popper.js -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.3/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    </head>
    <body>
        
        <div class="cont">
            <h1>Random site name</h1>
            <div class="rules">
                <div class="rulediv">
                    <h2 style="font-size: 35px;">Rules of the game:</h2>
                    <ul>
                        <li>Rule 1</li>
                        <li>Rule 2</li>
                        <li>Rule 3</li>
                        <li>Rule 4</li>
                    </ul>
                </div>
                
            </div>

            <div class="entry">
                <a href="/game" ><button class="glow-on-hover" type="button">CREATE A ROOM</button></a>
                <br>

                <a href="/game"><button class="glow-on-hover" type="button">JOIN A ROOM</button></a>
                
            </div>


        </div>
        <footer class="footer">
            <div class="aboutus">
                <p id="footpara">This website has been made by Aditya Karn, Harmeet Singh, Vinay Dahiya who are 2nd year btech students at NSUT Delhi
                </p>
                <div class="cardd">
                    <h2>Aditya</h2>
                    <a href="https://github.com/AdityaKarn"><i class="fa fa-github" style="font-size:70px;color:black"></i></a>
                    
                    <p><a href="mailto:adityakarn26@gmail.com">adityakarn26@gmail.com</a></p>
                </div>
                <div class="cardd"><h2>Harmeet</h2>
                    <a href="https://github.com/Harmeet-Singh19"><i class="fa fa-github" style="font-size:70px;color:black "></i></a>
                    
                    <p><a href="mailto:harmeetsinghh2001@gmail.com">harmeetsinghh2001@gmail.com</a></p>
                </div>
                <div class="cardd"><h2>Vinay</h2>
                    <a href="https://github.com/vinaydahiya04"><i class="fa fa-github" style="font-size:70px;color:black"></i></a>
                    
                    <p><a href="mailto:vinaydahiya04@gmail.com">vinaydahiya04@gmail.com</a></p>
                </div>

            </div>
            
        </footer>
    </body>
    <script src="/homepage/index.js"></script>
</html>