<!DOCTYPE html>

<html lang="en">

<!-- HEAD  -->

<head>
    <meta name="description" content="Roctoid is the online multiplayer Rock Paper Scissors. Roctoid Uses AI model to predict the choice of user and via webRTC allows us to play our favorite game!">
    <meta name="author" content="Aditya Karn, Harmeet Singh, Vinay Dahiya">
    <meta name="keywords" content="Roctoid,Rocktoid Rock Paper Scissors, Online Rock Paper Scissors,  NSUT, Online Multiplayer Games, NSIT, Netaji Subhas University of Technology, Netaji Subhas Institute of Technology">


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roctoid</title>

    <link rel="stylesheet" href="/homepage/base.min.css">
    <link rel="stylesheet" href="/homepage/index.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/homepage/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/homepage/img/favicon.ico" type="image/x-icon">


    <script src="https://cdn.jsdelivr.net/npm/pathseg@1.2.0/pathseg.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/homepage/index.js"></script>
</head>

<!-- BODY -->

<body>
    <div id="loading">
        <img id="loading-image" src="/homepage/img/load.gif" alt="Loading..." />
        <span>Loading</span>
    </div>
    <section id="main">
        <!-- NAVBAR -->
        <nav class='navbar'>
            <div class='navbar-container'>

                <!-- LOGO -->
                <div class='navbar-logo col-three'>
                    <span class="l ">Roctoid</span >
                    <img src="/homepage/img/android-chrome-192x192.png" >
                </div>

        <!-- LINKS -->
       
          <ul class='nav-menu col-nine'>
            <li class='nav-item'>
              <div  class='nav-divs' >
              <span class="nav-sp"><a style="color: white;" href="#main" class="smoothscroll">Home</a></span>
                </div>
                </li>
                <li class='nav-item'>
                    <div class='nav-divs'>
                        <a style="color: white;" href="#rules_sec" class="smoothscroll">Rules</a>
                    </div>
                </li>
                <li class='nav-item'>
                    <div class='nav-divs'>
                        <a style="color: white;" href="#about-us" class="smoothscroll">About Us</a>
                    </div>
                </li>
                </ul>
            </div>
        </nav>
    </section>
    <!-- content  -->
    <section id="content">
        <div class="row con">

            <div class="col-nine neon-lights">
                <div class="pic-board"> <img src="/homepage/img/rock.jpg" alt="" class="pic-item">
                    <h1 spellcheck="false">Rock</h1>
                </div>
                <div class="pic-board"> <img src="/homepage/img/paper.jpg" alt="" class="pic-item">
                    <h1 spellcheck="false" style="animation-delay:200ms;">Paper</h1>
                </div>
                <div class="pic-board"> <img src="/homepage/img/scissor.jpg" alt="" class="pic-item">
                    <h1 spellcheck="false" style="animation-delay:400ms;">Scissor</h1>
                </div>
            </div>
            <div class="col-three main-buttons">

                <h2 class="main-heading"> Drift to the past </h2>
                <div class="entry">
                    <a href="/game" target="blank"><button class="glow-on-hover" type="button">CREATE A ROOM</button></a>
                    <br>
                    <button class="glow-on-hover " id="joinbtn" type="button" onclick="show()">JOIN A ROOM</button>
                    <div class="hidden-input"><input type="text" id="inputURL"><button class="glow-on-hover2" type="button" onclick="Submit()">Submit</button></div>
                </div>
                <script>
                    function show() {
                        $('.hidden-input').toggle('slide')
                    }

                    function Submit() {
                        let url = $('#inputURL').val()
                        console.log(url);
                        if (url !== "") {
                            window.location.replace(`${url}`)
                        } else {
                            alert('Please enter a valid url')
                        }
                    }
                </script>
            </div>
        </div>
    </section>

    <section id="rules_sec" class="rules">


        <div class="rules_dec">

            <div class="nnow">
                <div class="rules-header">
                    <h2 class="rules-heading">RULES</h2>
                </div>
            </div>
            <div id="row_1" class="row">
                <div class="col-eight rules-back">


                    <div class="list_disp">
                        <p class="rule_list">For rock gesture:Clench your fist and hold it in front of the camera with the fist occupying most of the frame and make sure it covers your face for better accuracy</p>
                        <img src="homepage/img/rock_gesture.jpg" class="rule_img" alt="rock"></li>
                    </div>
                    <div class="list_disp">
                        <p class="rule_list">For paper gesture:Hold your outstretchhed hand in front of the camera with your palm facing towards tha camera and make sure your fingers aren't seperated much for better accuracy</p>
                        <img src="homepage/img/paper_gesture.jpg" class="rule_img" alt="rock"></li>
                    </div>

                    <div class="list_disp">
                        <p class="rule_list">For scissors gesture:Clench your fist and extend your middle and index finger to form a V shape and hold it in front of the camera making sure that your gesture covers most of your face. Also, avoid keeping the index and middle
                            finger very close to each other, in order to achieve better accuracy</p>
                        <img src="homepage/img/scissor_gesture.jpg" class="rule_img" alt="rock"></li>
                    </div>

                </div>
                <div class="col-four">

                    <video class="demo-vid" src="homepage/video/roctoid.mp4" controls>
                    </video>
                    <ul>
                        <li class="gen-rule">This is a best of 10 game</li>
                        <li class="gen-rule">All participants are expected to be respectful towards other players and avoid use of disrespectful words in the chatbox</li>
                        <li class="gen-rule">All standard rules of rock paper scissors apply</li>
                    </ul>

                </div>
            </div>
        </div>
    </section>

    <section id="about-us">

        <div class="about-us-header">
            ABOUT THE TEAM
        </div>

        <div class="row cards">
            <div class="col-four">
                <div class=" info-wrapper">
                    <img src="/homepage/img/harmeet.jpg">

                    <div class=" info-about">
                        <span class="about-text">Harmeet Singh</span>
                        <span class="about-text">CSE Sophomore At NSUT</span>
                        <span style="display: flex; justify-content:space-between; "><a href="https://github.com/Harmeet-Singh19"><i
                                    class="fa fa-github" aria-hidden="true" style="margin-right:8px;color:white"></i></a> <a
                                href="https://www.linkedin.com/in/harmeet-singh-a96880192"><i class="fa fa-linkedin-square" aria-hidden="true"
                                    style="margin-right:8px;color:white"></i></a><a href="mailto:harmeetsinghh2001@gmail.com"><i
                                    class="fa fa-envelope" aria-hidden="true" style="margin-right:8px;color:white"></i></a> <a
                                href="https://www.instagram.com/_harmeett_/"><i class="fa fa-instagram" aria-hidden="true"
                                    style="margin-right:8px;color:white"></i></a></span>
                    </div>
                </div>
            </div>

            <div class="col-four">
                <div class=" info-wrapper">

                    <img src="/homepage/img/aditya.jpg">
                    <div class=" info-about">
                        <span class="about-text">Aditya Karn</span>
                        <span class="about-text">CSE Sophomore At NSUT</span>
                        <span style="display: flex; justify-content:space-between; "><a href="https://github.com/AdityaKarn"><i
                                    class="fa fa-github" aria-hidden="true" style="margin-right:8px;color:white"></i></a> <a
                                href="https://www.linkedin.com/in/aditya-karn-2a6316155/"><i class="fa fa-linkedin-square" aria-hidden="true"
                                    style="margin-right:8px;color:white"></i></a><a href="mailto:adityakarn26@gmail.com"><i
                                    class="fa fa-envelope" aria-hidden="true" style="margin-right:8px;color:white"></i></a></span>
                    </div>
                </div>
            </div>


            <div class="col-four">
                <div class=" info-wrapper">
                    <img src="/homepage/img/vinay.jpg">
                    <div class=" info-about">
                        <span class="about-text">Vinay Dahiya</span>
                        <span class="about-text">CSE Sophomore At NSUT</span>
                        <span style="display: flex; justify-content:space-between; "><a href="https://github.com/vinaydahiya04"><i
                                    class="fa fa-github" aria-hidden="true" style="margin-right:8px;color:white"></i></a> <a
                                href="https://www.linkedin.com/in/vinay-dahiya-3438931b1/"><i class="fa fa-linkedin-square" aria-hidden="true"
                                    style="margin-right:8px;color:white"></i></a><a href="mailto:vinaydahiya04@gmail.com"><i
                                    class="fa fa-envelope" aria-hidden="true" style="margin-right:8px;color:white"></i></a> <a
                                href="https://www.instagram.com/vinaydahiya13/"><i class="fa fa-instagram" aria-hidden="true"
                                    style="margin-right:8px;color:white"></i></a></span>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <script>
        $('html, body').css({
            'overflow': 'hidden',
            'height': '100%'
        })
        $(window).load(function() {
            setInterval(function() {
                $("#loading").fadeOut("slow")
                $('html, body').css({
                    'overflow': 'inherit',
                    'height': '100%'
                })
            }, 1 * 1000);


        });
    </script>

    <script>
        (function($) {

            "use strict";

            var cfg = {
                    defAnimation: "fadeInUp", // default css animation		
                    scrollDuration: 800, // smoothscroll duration
                },

                $WIN = $(window);



            /* Smooth Scrolling
             * ------------------------------------------------------ */
            var ssSmoothScroll = function() {

                $('.smoothscroll').on('click', function(e) {
                    var target = this.hash,
                        $target = $(target);

                    e.preventDefault();
                    e.stopPropagation();

                    // check if menu is open
                    if ($('body').hasClass('menu-is-open')) {
                        $('#header-menu-trigger').trigger('click');
                    }

                    $('html, body').stop().animate({
                        'scrollTop': $target.offset().top
                    }, cfg.scrollDuration, 'swing').promise().done(function() {

                        // check if menu is open
                        if ($('body').hasClass('menu-is-open')) {
                            $('#header-menu-trigger').trigger('click');
                        }

                        window.location.hash = target;
                    });
                });

            };




            /* Initialize
             * ------------------------------------------------------ */
            (function ssInit() {

                ssSmoothScroll();

            })();
        })(jQuery);
    </script>
</body>


</html>