<!DOCTYPE html>

<html lang="en">

<!-- HEAD  -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roctoid</title>
    <!-- <link rel="stylesheet" href="/hpt/style.css"> -->
    <link rel="stylesheet" href="/homepage/base.min.css">
    <link rel="stylesheet" href="/homepage/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/pathseg@1.2.0/pathseg.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles@1.18.3/dist/tsparticles.min.js"></script>
</head>

<!-- BODY -->

<body>

    <section id="main">
        <!-- PARTICLE JS  -->


        <!-- NAVBAR -->
        <nav class='navbar'>
            <div class='navbar-container'>

                <!-- LOGO -->
                <div class='navbar-logo'>
                    <span class="l ">Roctoid</span >
        </div>

        <!-- LINKS -->
          <div class='menu-icon' >
            <i class='fas fa-bars' >
          </div>
          <ul class='nav-menu'>
            <li class='nav-item'>
              <div  class='nav-divs' >
              <span class="nav-sp">Home</span>
                </div>
                </li>
                <li class='nav-item'>
                    <div class='nav-divs'>
                        Rules
                    </div>
                </li>
                <li class='nav-item'>
                    <div class='nav-divs'>
                        About Us
                    </div>
                </li>
                </ul>
            </div>
        </nav>


    </section>
    <!-- content  -->
    <section id="content">

        <div class="bg">
            <div id="tsparticlesr"></div>
            <div id="tsparticlesp"></div>
            <div id="tsparticless"></div>
        </div>
        <div class="row">

            <div class="col-nine neon-lights">

                <h1 spellcheck="false">Rock</h1>
                <h1 spellcheck="false" style="animation-delay:200ms;">Paper</h1>
                <h1 spellcheck="false" style="animation-delay:400ms;">Scissor</h1>

            </div>
            <div class="col-three main-buttons">

                <h2 class="main-heading"> Drift to the past </h2>
                <div class="entry">
                    <a href="/game"><button class="glow-on-hover" type="button">CREATE A ROOM</button></a>
                    <br>

                    <a href="/game"><button class="glow-on-hover" type="button">JOIN A ROOM</button></a>

                </div>

            </div>
        </div>
    </section>

    <section id="about-us">
        <div class="row">
            <div class="about-us-header">
                ABOUT THE TEAM
            </div>
        </div>
        <div class="row cards">
            <div class="col-four">
                <div class=" info-wrapper" >
                    <img src="/homepage/img/harmeet.jpg">
                   
                    <div class=" info-about">
                            <span>Harmeet Singh</span>
                            <span>2nd Year Sophomore At NSUT</span>
                            <span style="display: flex; justify-content:space-between; "><i class="fa fa-github" aria-hidden="true" style="margin-right:8px;"></i> <i class="fa fa-linkedin-square" aria-hidden="true" style="margin-right:8px;"></i><i class="fa fa-envelope" aria-hidden="true" style="margin-right:8px;"></i> <i class="fa fa-instagram" aria-hidden="true" style="margin-right:8px;"></i></span>
                    </div>
                </div>
            </div>
            
            <div class="col-four">
                <div class=" info-wrapper" >
     
                        <img src="/homepage/img/harmeet.jpg">
                    <div class=" info-about">
                            <span>Harmeet Singh</span>
                            <span>2nd Year Sophomore At NSUT</span>
                            <span style="display: flex; justify-content:space-between; "><i class="fa fa-github" aria-hidden="true" style="margin-right:8px;"></i> <i class="fa fa-linkedin-square" aria-hidden="true" style="margin-right:8px;"></i><i class="fa fa-envelope" aria-hidden="true" style="margin-right:8px;"></i> <i class="fa fa-instagram" aria-hidden="true" style="margin-right:8px;"></i></span>
                    </div>
                </div>
            </div>
                
            
            <div class="col-four">
                <div class=" info-wrapper" >
                   <img src="/homepage/img/harmeet.jpg">
                    <div class=" info-about">
                            <span>Harmeet Singh</span>
                            <span>2nd Year Sophomore At NSUT</span>
                            <span style="display: flex; justify-content:space-between; "><i class="fa fa-github" aria-hidden="true" style="margin-right:8px;"></i> <i class="fa fa-linkedin-square" aria-hidden="true" style="margin-right:8px;"></i><i class="fa fa-envelope" aria-hidden="true" style="margin-right:8px;"></i> <i class="fa fa-instagram" aria-hidden="true" style="margin-right:8px;"></i></span>
                    </div>
                </div>
            </div>
            
        </div>
        
    </section>


</body>
<script src="/hpt/particle.js"></script>

</html>