* {
    margin: 0;
    padding: 0;


}

html,
body {
    height: 100%;
}


body {

    display: flex;
    flex-direction: column;
    margin: 0px;

    background-color: #000000;


    color: white;


}


.cont {

    flex: 1 0 auto;
    padding: 5px 5px;
    margin: 40px 40px;
}

h1 {

    text-align: center;
    font-size: 100px;
    margin-bottom: 50px;
}

.rules {
    float: left;

    width: 35%;


}

.entry {
    float: right;

    width: 60%;



}

.rulediv {
    text-align: center;
}

li {
    padding: 10px 10px;
    margin: 10px 10px;
}

.footer {

    flex-shrink: 0;
    background-color: #ccc;
    color: black;
    padding: 10px 30px;


}

.cardd {
    float: left;
    width: 33.33%;
    text-align: center;
}

#footpara {
    text-align: center;
    font-size: x-large;
}



.glow-on-hover {
    width: 250px;
    height: 80px;
    border: none;
    outline: none;
    color: #fff;
    background: #be068e;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    display: block;
    text-decoration: none;
    margin: auto;
    margin-top: 30px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #5b0344
}

.glow-on-hover:active:after {
    background: #be068e;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

canvas {
    display: block;
}

#tsparticlesr {
    position: absolute;
    top: 10px;
    left: -400px;
    height: 100vh;
    width: 100vw;
}

#tsparticless {
    position: absolute;
    top: 10px;
    left: -100px;
    height: 100vh;
    width: 100vw;
}

#tsparticlesp {
    left: 80px;
    position: absolute;
    top: 20px;
    height: 100vh;
    width: 100vw;
}