/*     ------------------ IMPORTS -----------------    */

@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);
:root {
    /* Base font size */
    font-size: 10px;
    /* Set neon color */
    --neon-text-color: #f40;
    --neon-border-color: #08f;
}

@font-face {
    font-family: Oldage;
    src: url('/homepage/fonts/PressStart2P-Regular.ttf');
}

@font-face {
    font-family: Ninety;
    src: url('/homepage/fonts/budmo\ jiggler.ttf');
}

@font-face {
    font-family: Barlow;
    src: url('/homepage/fonts/BarlowCondensed-Regular.ttf');
}

@font-face {
    font-family: Share-Tech;
    src: url('/homepage/fonts/ShareTechMono-Regular.ttf');
}


/*     ------------------ REUSABLE STYLES -----------------    */

* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #190113;
    height: 100%;
    width: 100%;
}

.bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    overflow: hidden;
    z-index: -1;
}

h1 {
    position: relative;
    left: 400px;
    width: 300px;
    font-size: 4rem;
    font-weight: 200;
    font-style: italic;
    color: #fff;
    padding: 5.5rem;
    text-align: center;
    align-items: center;
    align-content: center;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    text-transform: uppercase;
    animation: flicker 1.5s infinite alternate;
    margin-bottom: 60px;
}

h1::-moz-selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

h1::selection {
    background-color: var(--neon-border-color);
    color: var(--neon-text-color);
}

h1:focus {
    outline: none;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}


/* --------------------------LOADER ---------------------- */


#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 1;
    background-color: black;
    z-index: 1000;
    text-align: center;
    align-items: center;
    align-content: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#loading-image {
    margin-top: 20%;
    margin-bottom: 20px;
    z-index: 100;
    height: 200px;
    width: 200px;
}

#loading span {
    color: white;
    text-align: center;
    font-size: 5rem;
    font-family: Ninety;
    font-weight: 700;
    animation: colorchange 5s infinite
}

@keyframes colorchange {
    0% {
        color: white;
    }
    10% {
        color: orange;
    }
    20% {
        color: blue;
    }
    30% {
        color: yellow;
    }
    40% {
        color: pink;
    }
    50% {
        color: purple;
    }
    60% {
        color: wheat;
    }
    70% {
        color: red;
    }
    80% {
        color: royalblue;
    }
    90% {
        color: gray;
    }
    100% {
        color: darkgreen;
    }
}


/*     ------------------ NAVBAR STYLE -----------------    */

.navbar {
    background: #190113;
    height: 80px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    font-family: Oldage;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}

.navbar-logo {
    color: white;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    margin-left: 10px;
    height: 70px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 80vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    height: 80px;
    margin-right: 3rem;
    margin-top: 5rem;
}

.nav-links {
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.nav-links:hover {
    border-bottom: 5px solid white;
    transition: all 0.2s ease-out;
}

.l {
    animation: updown 3s ease-in-out infinite;
}

.bars {
    color: white;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems {
        position: relative;
    }
    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }
    .nav-menu.active {
        background: black;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    .nav-links:hover {
        background-color: white;
        color: black;
        border-radius: 0;
    }
    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
    .fa-times {
        color: white;
        font-size: 2rem;
    }
    .nav-links-mobile {
        display: block;
        text-align: center;
        margin: 2rem auto;
        border-radius: 4px;
        width: 80%;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: white;
        color: red;
        padding: 14px 20px;
        border: 1px solid white;
        transition: all 0.3s ease-out;
    }
    .nav-links-mobile:hover {
        background: white;
        color: black;
        transition: 250ms;
    }
}

@keyframes updown {
    0% {
        transform: none;
    }
    25% {
        transform: translateY(-1.5px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(1.5px);
    }
    100% {
        transform: translateY(0px);
    }
}


/*     ------------------ NEON FLICKER -----------------    */

@keyframes flicker {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: -0.2rem -0.2rem 1rem #fff, 0.2rem 0.2rem 1rem #fff, 0 0 2rem var(--neon-text-color), 0 0 4rem var(--neon-text-color), 0 0 6rem var(--neon-text-color), 0 0 8rem var(--neon-text-color), 0 0 10rem var(--neon-text-color);
        box-shadow: 0 0 .5rem #fff, inset 0 0 .5rem #fff, 0 0 2rem var(--neon-border-color), inset 0 0 2rem var(--neon-border-color), 0 0 4rem var(--neon-border-color), inset 0 0 4rem var(--neon-border-color);
    }
    20%,
    24%,
    55% {
        text-shadow: none;
        box-shadow: none;
    }
}


/*     ------------------ CONTENT SECTION -----------------    */

#content {
    display: flex;
    background-image: -webkit-linear-gradient(rgba(72, 0, 45, 0.7), rgba(21, 9, 50, 0.7));
    z-index: -200;
}


/* MAIN TEXT ON CONTENT */

.main-heading {
    font-family: Ninety;
    color: wheat;
    font-size: 6rem;
}

.neon-lights {
    margin-top: 5rem;
}

.main-buttons {
    margin-top: 15rem;
}

.url-button {
    color: black;
}


/* BUTTON ON CONTENT */

.glow-on-hover {
    width: 250px;
    height: 80px;
    border: none;
    outline: none;
    color: #fff;
    background: #8c0569;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    display: block;
    font-family: Oldage;
    margin: auto;
    margin-top: 30px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #8c0569;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #8c0569;
    left: 0;
    top: 0;
    border-radius: 10px;
    font-family: Oldage;
}
.hidden-input{
    width: 250px;
    height: 100px;
    border: none;
    outline: none;
    z-index: 0;
    border-radius: 10px;
    display: block;
    font-family: Oldage;
    margin: auto;
    margin-top: 30px;
    display: none;
}
#inputURL{
width: 100%;
height: 25px;
margin-bottom: 10px;
color: black;
}
.glow-on-hover2{
    width: 50%px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #8c0569;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    display: block;
    font-family: Oldage;
    margin: auto;
    float: right;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}


/* PARTICLE JS CSS ON CONTENT */

#tsparticlesr {
    position: relative;
    left: -43%;
    top: -45%;
    z-index: -10;
}

#tsparticlesp {
    position: relative;
    left: -43%;
    top: -115%;
    z-index: -10;
}

#tsparticless {
    position: relative;
    left: -43%;
    top: -185%;
    z-index: -10;
}


/* RULES */

#rules {
    display: flex;
}

.rules-heading {
    font-family: Ninety;
    text-align: center;
    font-size: 10em;
    background-image: -webkit-linear-gradient(rgba(196, 35, 134, 0.7), rgba(21, 9, 50, 0.7));
}

.rules_dec {
    background-image: url(/homepage/img/rules-bcg.png);
}

.rule_list {
    font-size: x-large;
    margin-top: 4em;
    margin-bottom: 2em;
    font-family: Barlow;
    font-style: normal;
}

.gen-rule {
    font-size: x-large;
    font-family: Barlow;
    margin-bottom: 2em;
    font-style: normal;
    text-align: center;
}

.img_list {
    margin-top: 4em;
}

.demo-vid {
    margin-top: 10em;
}


/* About Us */

#about-us {
    background-image: -webkit-linear-gradient(rgba(72, 0, 45, 0.7), rgba(21, 9, 50, 0.7));
    margin-bottom: 30px;
}

.about-us-header {
    width: 100%;
    font-family: Ninety;
    text-align: center;
    font-size: 10em;
    width: 100%;
    background-image: -webkit-linear-gradient(rgba(196, 35, 134, 0.7), rgba(21, 9, 50, 0.7));
}

.info-wrapper {
    width: 300px;
    height: 330px;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #57044a;
    border-radius: 41px;
    background: #270221;
    box-shadow: 26px 26px 31px #10010d, -26px -26px 31px #3e0335;
    font-family: Share-Tech;
    color: whitesmoke;
}

.about-text {
    color: white;
    font-style: normal;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.info-about {
    width: 70%;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    color: black;
    font-size: 20px;
    height: 200px;
}

.info-about span {
    margin-top: 20px;
    font-weight: 600;
}